# -----------------------------------------------------------------------
# Ignore file/s and folder/s everywhere in the project
# -----------------------------------------------------------------------
**/node_modules/
**/ignore-folders/
.DS_Store

# -----------------------------------------------------------------------
# Ignore everything by default
# -----------------------------------------------------------------------
* 

# -----------------------------------------------------------------------
# But don't ignore these file/s and folder/s
# -----------------------------------------------------------------------
!.gitignore

# allows the folder itself to be seen and track all file/s inside it
!week-3-js-algorithms/
!week-3-js-algorithms/**

!cypress/
!cypress/**
